@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-gradient {
  background-color: #1a4d2e; /* Your primary color */
  background-image: radial-gradient(at 94% 33%, #2a5d3e 0, transparent 69%),
    radial-gradient(at 5% 3%, #153d24 0, transparent 83%),
    radial-gradient(at 23% 54%, #225a36 0, transparent 81%),
    radial-gradient(at 60% 80%, #1f5434 0, transparent 75%);
}

@layer utilities {
  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    @apply bg-palette-1;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    @apply bg-palette-2 rounded-full;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    @apply bg-palette-4;
  }
}
